@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down[data-reach-menu-list] {
  border-radius: 5px;
  animation: slide-down 0.2s ease;
}

[data-reach-menu-item] {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  height: 28px;
}

[data-selected] {
  background: black !important;
  color: white;
}

[data-selected] .primary {
  fill: white;
}

[data-selected] .secondary {
  fill: white;
}
